<section class="section-5 bg-2">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a routerLink="home">Accueil</a></li>
            <li class="breadcrumb-item active">Paramètres du compte</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="card border-0 shadow mb-4 p-3">
          <div class="s-body text-center mt-3">
            <div class="d-flex w-100 justify-content-center align-item-center">
              <img
                src="assets/img/1.jpg"
                alt="avatar"
                class="rounded-circle img-fluid"
                style="
                  width: 100px;
                  height: 100px;
                  object-fit: cover;
                  object-position: center;
                "
              />
            </div>
            <h5 class="mt-3 pb-0"></h5>
            <p class="text-muted mb-1 fs-6"></p>
            <div class="d-flex justify-content-center mb-2">
              <button
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                type="button"
                class="btn btn-outline-secondary"
              >
                Importer le logo de l'entreprise
              </button>
            </div>
          </div>
        </div>
        <div class="card account-nav border-0 shadow mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between p-3">
                <a href="">Paramètres du compte</a>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <a routerLink="post">Publier des Stages</a>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <a href="">Stages Publiés</a>
              </li>

              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <a href="" class="btn btn-outline-danger">Déconnexion</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="card border-0 shadow mb-4">
          <form
            action=""
            method="post"
            (ngSubmit)="UpdateWrittingCompayIformation()"
          >
            <div class="card-body p-4">
              <h3 class="fs-4 mb-1">Créez Votre Entreprise</h3>
              <div class="mb-4">
                <label for="" class="mb-2">Nom*</label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  placeholder="Entrez le Nom"
                  class="form-control"
                  value=""
                  [(ngModel)]="FormData.cname"
                />
                <p></p>
              </div>
              <div class="mb-4">
                <label for="" class="mb-2">Email*</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="Entrez l'Email"
                  class="form-control"
                  value=""
                  [(ngModel)]="FormData.email"
                />
                <p></p>
              </div>
              <div class="mb-4">
                <label for="" class="mb-2">Adresse*</label>
                <input
                  type="text"
                  name="address"
                  id="address"
                  placeholder="Entrez l'Adresse"
                  class="form-control"
                  value=""
                  [(ngModel)]="FormData.address"
                />
                <p></p>
              </div>
              <div class="mb-4">
                <label for="" class="mb-2">Site Web*</label>
                <input
                  type="text"
                  name="website"
                  id="email"
                  placeholder="Entrez Votre Site Web (Optionnel)"
                  class="form-control"
                  value=""
                  [(ngModel)]="FormData.website"
                />
                <p></p>
              </div>
              <div class="mb-4">
                <label for="" class="mb-2">Slogan*</label>
                <input
                  type="text"
                  name="slogan"
                  id="email"
                  placeholder="Slogan de votre Entreprise"
                  class="form-control"
                  value=""
                  [(ngModel)]="FormData.slogan"
                />
                <p></p>
              </div>
              <div class="mb-4">
                <label for="" class="mb-2">Mobile</label>
                <input
                  type="tel"
                  name="mobile"
                  id="mobile"
                  placeholder="Mobile"
                  class="form-control"
                  value=""
                  [(ngModel)]="FormData.phone"
                />
              </div>
              <div class="mb-4">
                <label for="" class="mb-2">Description</label>
                <textarea
                  rows="5"
                  cols="5"
                  name="description"
                  id="description"
                  placeholder="Description"
                  class="form-control"
                  value=""
                  [(ngModel)]="FormData.description"
                ></textarea>
              </div>
            </div>
            <div class="card-footer p-4">
              <button type="submit" class="btn btn-outline-secondary">
                Créer
              </button>
            </div>
          </form>
        </div>

        <form action="" (ngSubmit)="UpdatePassword()">
          <div class="card border-0 shadow mb-4">
            <div class="card-body p-4">
              <h3 class="fs-4 mb-1">
                Changez de mot de passe si vous le souhaitez
              </h3>
              <div class="mb-4">
                <label for="" class="mb-2">Ancien Mot de Passe*</label>
                <input
                  type="password"
                  placeholder="Ancien Mot de Passe"
                  class="form-control"
                  [(ngModel)]="FormData.current_password"
                />
              </div>
              <div class="mb-4">
                <label for="" class="mb-2">Nouveau Mot de Passe*</label>
                <input
                  type="password"
                  placeholder="Nouveau Mot de Passe"
                  class="form-control"
                  [(ngModel)]="FormData.new_password"
                />
              </div>
            </div>
            <div class="card-footer p-4">
              <button type="submit" class="btn btn-outline-secondary">
                Mettre à jour
              </button>
            </div>
          </div>
        </form>

        <div class="card border-0 shadow mb-4">
          <div class="card-body p-4">
            <h3 class="fs-4 mb-1">Téléchargement de Documents</h3>
            <div class="mb-4">
              <label for="" class="mb-2">Image de Bannière</label>
              <input
                type="file"
                placeholder="Télécharger une Lettre de Motivation"
                class="form-control"
              />
            </div>
            <div class="mb-4">
              <label for="" class="mb-2"></label>
              <input
                type="file"
                placeholder="Télécharger un CV"
                class="form-control"
              />
            </div>
          </div>
          <div class="card-footer p-4">
            <button type="submit" class="btn btn-outline-secondary">
              Télécharger
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
