<section class="section-5 bg-2">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a routerLink="home">Accueil</a></li>
            <li class="breadcrumb-item active">Paramètres du compte</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="card border-0 shadow mb-4 p-3">
          <div class="s-body text-center mt-3">
            <div class="d-flex w-100 justify-content-center align-item-center">
              <img
                src="assets/img/1.jpg"
                alt="avatar"
                class="rounded-circle img-fluid"
                style="
                  width: 100px;
                  height: 100px;
                  object-fit: cover;
                  object-position: center;
                "
              />
            </div>
            <h5 class="mt-3 pb-0"></h5>
            <p class="text-muted mb-1 fs-6"></p>
            <div class="d-flex justify-content-center mb-2">
              <button
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                type="button"
                class="btn btn-outline-secondary"
              >
                Importer le logo de l'entreprise
              </button>
            </div>
          </div>
        </div>
        <div class="card account-nav border-0 shadow mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between p-3">
                <a href="">Paramètres du compte</a>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <a routerLink="post">Publier des Stages</a>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <a href="">Stages Publiés</a>
              </li>

              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <a href="" class="btn btn-outline-danger">Déconnexion</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="card border-0 shadow mb-4">
          <form
            action=""
            method="post"
            (ngSubmit)="UpdateWrittingCompayIformation()"
          >
            <div class="card-body p-4">
              <h3 class="fs-4 mb-1">Créez Votre Entreprise</h3>
              <div class="mb-4">
                <label for="name" class="mb-2">Nom*</label>
                <input
                  type="text"
                  name="name"
                  #name="ngModel"
                  id="name"
                  placeholder="Entrez le Nom"
                  class="form-control"
                  [class.is-invalid]="
                    name.invalid && (name.dirty || name.touched)
                  "
                  [(ngModel)]="FormData.cname"
                  required
                  minlength="2"
                  maxlength="50"
                />
                <div
                  *ngIf="name.invalid && (name.dirty || name.touched)"
                  class="text-danger"
                >
                  <div *ngIf="name.errors['required']">Le nom est requis.</div>
                  <div *ngIf="name.errors['minlength']">
                    Le nom doit comporter au moins 2 caractères.
                  </div>
                  <div *ngIf="name.errors['maxlength']">
                    Le nom ne peut pas comporter plus de 50 caractères.
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <label for="email" class="mb-2">Email*</label>
                <input
                  type="email"
                  name="email"
                  #email="ngModel"
                  id="email"
                  placeholder="Entrez l'Email"
                  class="form-control"
                  [(ngModel)]="FormData.email"
                  [class.is-invalid]="
                    email.invalid && (email.dirty || email.touched)
                  "
                  required
                />
                <div
                  *ngIf="email.invalid && (email.dirty || email.touched)"
                  class="text-danger"
                >
                  <div *ngIf="email.errors['required']">
                    L'email est requis.
                  </div>
                  <div *ngIf="email.errors['email']">
                    L'email n'est pas valide.
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <label for="address" class="mb-2">Adresse*</label>
                <input
                  type="text"
                  name="address"
                  #address="ngModel"
                  id="address"
                  placeholder="Entrez l'Adresse"
                  class="form-control"
                  [class.is-invalid]="
                    address.invalid && (address.dirty || address.touched)
                  "
                  [(ngModel)]="FormData.address"
                  required
                />
                <div
                  *ngIf="address.invalid && (address.dirty || address.touched)"
                  class="text-danger"
                >
                  <div *ngIf="address.errors['required']">
                    L'adresse est requise.
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <label for="" class="mb-2">Site Web*</label>
                <input
                  type="text"
                  name="website"
                  id="email"
                  placeholder="Entrez Votre Site Web (Optionnel)"
                  class="form-control"
                  value=""
                  [(ngModel)]="FormData.website"
                />
                <p></p>
              </div>
              <div class="mb-4">
                <label for="slogan" class="mb-2">Slogan*</label>
                <input
                  type="text"
                  name="slogan"
                  id="slogan"
                  placeholder="Slogan de votre Entreprise"
                  class="form-control"
                  [(ngModel)]="FormData.slogan"
                  required
                  [class.is-invalid]="
                    slogan.invalid && (slogan.dirty || slogan.touched)
                  "
                  #slogan="ngModel"
                  minlength="5"
                  maxlength="100"
                />
                <div
                  *ngIf="slogan.invalid && (slogan.dirty || slogan.touched)"
                  class="text-danger"
                >
                  <div *ngIf="slogan.errors['required']">
                    Le slogan est requis.
                  </div>
                  <div *ngIf="slogan.errors['minlength']">
                    Le slogan doit comporter au moins 5 caractères.
                  </div>
                  <div *ngIf="slogan.errors['maxlength']">
                    Le slogan ne peut pas comporter plus de 100 caractères.
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <label for="mobile" class="mb-2">Portable*</label>
                <input
                  type="tel"
                  name="mobile"
                  id="mobile"
                  placeholder="Portable"
                  class="form-control"
                  [class.is-invalid]="
                    mobile.invalid && (mobile.dirty || mobile.touched)
                  "
                  [(ngModel)]="FormData.phone"
                  #mobile="ngModel"
                  required
                  pattern="\\d{9}"
                />
                <div
                  *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)"
                  class="text-danger"
                >
                  <div *ngIf="mobile.errors['required']">
                    Le numéro de portable est requis.
                  </div>
                  <div *ngIf="mobile.errors['pattern']">
                    Le numéro de portable doit comporter exactement 9 chiffres.
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <label for="description" class="mb-2">Description*</label>
                <textarea
                  rows="5"
                  cols="5"
                  #description="ngModel"
                  name="description"
                  id="description"
                  placeholder="Description"
                  class="form-control"
                  [(ngModel)]="FormData.description"
                  required
                  [class.is-invalid]="
                    description.invalid &&
                    (description.dirty || description.touched)
                  "
                  minlength="10"
                  maxlength="500"
                ></textarea>
                <div
                  *ngIf="
                    description.invalid &&
                    (description.dirty || description.touched)
                  "
                  class="text-danger"
                >
                  <div *ngIf="description.errors['required']">
                    La description est requise.
                  </div>
                  <div *ngIf="description.errors['minlength']">
                    La description doit comporter au moins 10 caractères.
                  </div>
                  <div *ngIf="description.errors['maxlength']">
                    La description ne peut pas comporter plus de 500 caractères.
                  </div>
                </div>
              </div>
              <div class="card-footer p-4">
                <button type="submit" class="btn btn-outline-secondary">
                  Créer
                </button>
              </div>
            </div>
          </form>
        </div>

        <form action="" (ngSubmit)="UpdatePassword()">
          <div class="card border-0 shadow mb-4">
            <div class="card-body p-4">
              <h3 class="fs-4 mb-1">
                Changez de mot de passe si vous le souhaitez
              </h3>
              <div class="mb-4">
                <label for="current_password" class="mb-2"
                  >Ancien Mot de Passe*</label
                >
                <input
                  type="password"
                  #current_password="ngModel"
                  placeholder="Ancien Mot de Passe"
                  class="form-control"
                  [(ngModel)]="FormData.current_password"
                  required
                  [class.is-invalid]="
                    current_password.invalid &&
                    (current_password.dirty || current_password.touched)
                  "
                  minlength="6"
                  maxlength="20"
                />
                <div
                  *ngIf="
                    current_password.invalid &&
                    (current_password.dirty || current_password.touched)
                  "
                  class="text-danger"
                >
                  <div *ngIf="current_password.errors['required']">
                    Le mot de passe actuel est requis.
                  </div>
                  <div *ngIf="current_password.errors['minlength']">
                    Le mot de passe doit comporter au moins 6 caractères.
                  </div>
                  <div *ngIf="current_password.errors['maxlength']">
                    Le mot de passe ne peut pas comporter plus de 20 caractères.
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <label for="new_password" class="mb-2"
                  >Nouveau Mot de Passe*</label
                >
                <input
                  type="password"
                  #new_password="ngModel"
                  placeholder="Nouveau Mot de Passe"
                  class="form-control"
                  [(ngModel)]="FormData.new_password"
                  required
                  minlength="6"
                  maxlength="20"
                  [class.is-invalid]="
                    new_password.invalid &&
                    (new_password.dirty || new_password.touched)
                  "
                />
                <div
                  *ngIf="
                    new_password.invalid &&
                    (new_password.dirty || new_password.touched)
                  "
                  class="text-danger"
                >
                  <div *ngIf="new_password.errors['required']">
                    Le nouveau mot de passe est requis.
                  </div>
                  <div *ngIf="new_password.errors['minlength']">
                    Le nouveau mot de passe doit comporter au moins 6
                    caractères.
                  </div>
                  <div *ngIf="new_password.errors['maxlength']">
                    Le nouveau mot de passe ne peut pas comporter plus de 20
                    caractères.
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer p-4">
              <button type="submit" class="btn btn-outline-secondary">
                Mettre à jour
              </button>
            </div>
          </div>
        </form>

        <div class="card border-0 shadow mb-4">
          <div class="card-body p-4">
            <h3 class="fs-4 mb-1">Téléchargement de Documents</h3>
            <div class="mb-4">
              <label for="" class="mb-2">Image de Bannière</label>
              <input
                type="file"
                placeholder="Télécharger une Lettre de Motivation"
                class="form-control"
              />
            </div>
            <div class="mb-4">
              <label for="" class="mb-2"></label>
              <input
                type="file"
                placeholder="Télécharger un CV"
                class="form-control"
              />
            </div>
          </div>
          <div class="card-footer p-4">
            <button type="submit" class="btn btn-outline-secondary">
              Télécharger
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
