<section class="section-5 bg-2">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item active">Paramètres du Compte</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="card border-0 shadow mb-4 p-3">
          <div class="s-body text-center mt-3">
            <div class="d-flex w-100 justify-content-center align-item-center">
              <img
                src="assets/img/1.jpg"
                alt="avatar"
                class="rounded-circle img-fluid"
                style="
                  width: 100px;
                  height: 100px;
                  object-fit: cover;
                  object-position: center;
                "
              />
            </div>
            <h5 class="mt-3 pb-0"></h5>
            <p class="text-muted mb-1 fs-6"></p>
            <div class="d-flex justify-content-center mb-2">
              <button
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                type="button"
                class="btn btn-outline-secondary"
              >
                Changer l'Image de l'Entreprise
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <form
          action=""
          method="post"
          id="createInternForm"
          name="createInternForm"
          (ngSubmit)="PostIntern()"
          #createForm="ngForm"
          novalidate
        >
          <div class="card border-0 shadow mb-4">
            <div class="card-body card-form p-4">
              <h3 class="fs-4 mb-1">Détails du Stage</h3>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label for="title" class="mb-2">Titre*</label>
                  <input
                    type="text"
                    id="title"
                    name="title"
                    placeholder="Titre du Stagiaire"
                    class="form-control"
                    [(ngModel)]="FormData.title"
                    #titleVar="ngModel"
                    required
                    [class.is-invalid]="
                      titleVar.invalid && (titleVar.dirty || titleVar.touched)
                    "
                  />
                  <div
                    *ngIf="
                      titleVar.invalid && (titleVar.dirty || titleVar.touched)
                    "
                    class="text-danger"
                  >
                    Le Titre est requis
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <label for="category" class="mb-2">Catégorie*</label>
                  <select
                    id="category"
                    name="category_id"
                    class="form-control bg-white"
                    [(ngModel)]="FormData.category_id"
                    #categoryVar="ngModel"
                    required
                    *ngFor="let category of Data"
                  >
                    <option
                      value="Selectionner Une categorie"
                      *ngFor="let i of range"
                    >
                      {{ category.data[i].name }}
                    </option>
                    <!-- Les options sont remplies ici -->
                  </select>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <label for="internType" class="mb-2">Type de Stages*</label>
                    <input
                      type="text"
                      id="internType"
                      name="internType"
                      placeholder="Entrez le Type de Stagiaire"
                      class="form-control bg-white"
                      [(ngModel)]="FormData.type"
                      #internType="ngModel"
                      required
                      [class.is-invalid]="
                        internType.invalid &&
                        (internType.dirty || internType.touched)
                      "
                    />
                    <div
                      *ngIf="
                        internType.invalid &&
                        (internType.dirty || internType.touched)
                      "
                      class="text-danger"
                    >
                      Le type de stage est requis.
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <label for="address" class="mb-2"
                      >Adresse<span class="req">*</span></label
                    >
                    <input
                      type="text"
                      placeholder="Adresse"
                      id="address"
                      name="address"
                      class="form-control"
                      [(ngModel)]="FormData.address"
                      #addressField="ngModel"
                      required
                      maxlength="50"
                      [class.is-invalid]="
                        addressField.invalid &&
                        (addressField.dirty || addressField.touched)
                      "
                    />
                    <div
                      *ngIf="
                        addressField.invalid &&
                        (addressField.dirty || addressField.touched)
                      "
                      class="text-danger"
                    >
                      <div *ngIf="addressField.errors['required']">
                        L'adresse est requise
                      </div>
                      <div *ngIf="addressField.errors['maxlength']">
                        L’adresse ne peut pas contenir plus de 50 caractères
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 mb-4">
                    <!-- Assurez-vous de la classe de largeur de colonne correcte pour la cohérence -->
                    <label for="location" class="mb-2"
                      >Emplacement<span class="req">*</span></label
                    >
                    <input
                      type="text"
                      placeholder="Emplacement"
                      id="location"
                      name="location"
                      class="form-control"
                      [(ngModel)]="FormData.position"
                      #locationField="ngModel"
                      required
                      [maxlength]="50"
                      [class.is-invalid]="
                        locationField.invalid &&
                        (locationField.dirty || locationField.touched)
                      "
                    />
                    <!-- Messages d'erreur de validation -->
                    <div
                      *ngIf="
                        locationField.invalid &&
                        (locationField.dirty || locationField.touched)
                      "
                      class="text-danger"
                    >
                      <p *ngIf="locationField.errors['required']">
                        L'emplacement est requis.
                      </p>
                      <p *ngIf="locationField.errors['maxlength']">
                        L'emplacement ne peut pas contenir plus de 50
                        caractères.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="mb-4">
                  <label for="description" class="mb-2"
                    >Description<span class="req">*</span></label
                  >
                  <textarea
                    class="form-control summernote"
                    name="description"
                    id="description"
                    cols="5"
                    rows="5"
                    placeholder="Description"
                    [(ngModel)]="FormData.description"
                    #descriptionField="ngModel"
                    required
                    [minlength]="30"
                    [maxlength]="5000"
                    [class.is-invalid]="
                      descriptionField.invalid &&
                      (descriptionField.dirty || descriptionField.touched)
                    "
                  ></textarea>
                  <div
                    *ngIf="
                      descriptionField.invalid &&
                      (descriptionField.dirty || descriptionField.touched)
                    "
                    class="text-danger"
                  >
                    <p *ngIf="descriptionField.errors?.['required']">
                      Une description est requise.
                    </p>
                    <p *ngIf="descriptionField.errors?.['minlength']">
                      La description doit comporter au moins 30 caractères.
                    </p>
                    <p *ngIf="descriptionField.errors?.['maxlength']">
                      La description ne peut pas contenir plus de 5 000
                      caractères.
                    </p>
                  </div>
                </div>
                <!-- <div class="mb-4">
                <label for="" class="mb-2">Benefits</label>
                <textarea
                  class="form-control summernote"
                  name="benefits"
                  id="benefits"
                  cols="5"
                  rows="5"
                  placeholder="Benefits"
                ></textarea>
              </div>
              <div class="mb-4">
                <label for="" class="mb-2">Responsibility</label>
                <textarea
                  class="form-control"
                  name="responsibility"
                  id="responsibility"
                  cols="5"
                  rows="5"
                  placeholder="Responsibility"
                ></textarea>
              </div> -->
                <div class="mb-4">
                  <label for="role" class="mb-2">Rôle*</label>
                  <textarea
                    class="form-control"
                    name="roles"
                    id="role"
                    cols="5"
                    rows="5"
                    placeholder="Description du Rôle"
                    [(ngModel)]="FormData.roles"
                    #rolesField="ngModel"
                    required
                    [minlength]="30"
                    [maxlength]="800"
                    [class.is-invalid]="
                      rolesField.invalid &&
                      (rolesField.dirty || rolesField.touched)
                    "
                  ></textarea>
                  <div
                    *ngIf="
                      rolesField.invalid &&
                      (rolesField.dirty || rolesField.touched)
                    "
                    class="text-danger"
                  >
                    <p *ngIf="rolesField.errors['required']">
                      Une description du rôle est requise.
                    </p>
                    <p *ngIf="rolesField.errors['minlength']">
                      La description du rôle doit comporter au moins 30
                      caractères.
                    </p>
                    <p *ngIf="rolesField.errors['maxlength']">
                      La description du rôle ne peut pas contenir plus de 800
                      caractères.
                    </p>
                  </div>
                </div>

                <div class="mb-4">
                  <label for="lastDate" class="mb-2">Date Limite*</label>
                  <input
                    type="date"
                    placeholder="Date Limite"
                    id="lastDate"
                    name="last_date"
                    class="form-control"
                    [(ngModel)]="FormData.last_date"
                    #lastDateField="ngModel"
                    required
                    [class.is-invalid]="
                      lastDateField.invalid &&
                      (lastDateField.dirty || lastDateField.touched)
                    "
                  />
                  <div
                    *ngIf="
                      lastDateField.invalid &&
                      (lastDateField.dirty || lastDateField.touched)
                    "
                    class="text-danger"
                  >
                    <p *ngIf="lastDateField.errors['required']">
                      La date limite est requise
                    </p>
                  </div>
                </div>
                <div class="mb-4">
                  <label for="lastDate" class="mb-2">Date de Début*</label>
                  <input
                    type="date"
                    placeholder="Date de Début"
                    id="lastDate"
                    name="start_date"
                    class="form-control"
                    [(ngModel)]="FormData.start_date"
                    #startDateField="ngModel"
                    required
                    [class.is-invalid]="
                      startDateField.invalid &&
                      (startDateField.dirty || startDateField.touched)
                    "
                  />
                  <div
                    *ngIf="
                      startDateField.invalid &&
                      (startDateField.dirty || startDateField.touched)
                    "
                    class="text-danger"
                  >
                    <p *ngIf="startDateField.errors['required']">
                      La date de début est requise
                    </p>
                  </div>
                </div>
                <div class="mb-4">
                  <label for="lastDate" class="mb-2">Date de Fin*</label>
                  <input
                    type="date"
                    placeholder="Date de Fin"
                    id="endDate"
                    name="end_date"
                    class="form-control"
                    [(ngModel)]="FormData.end_date"
                    #endDateField="ngModel"
                    required
                    [class.is-invalid]="
                      endDateField.invalid &&
                      (endDateField.dirty || endDateField.touched)
                    "
                  />
                  <div
                    *ngIf="
                      endDateField.invalid &&
                      (endDateField.dirty || endDateField.touched)
                    "
                    class="text-danger"
                  >
                    <p *ngIf="endDateField.errors['required']">
                      La date de fin est requise
                    </p>
                  </div>
                </div>
                <h3 class="fs-4 mb-1 mt-5 border-top pt-5">
                  Détails de l'Entreprise
                </h3>

                <div class="row">
                  <div class="mb-4 col-md-6">
                    <label for="" class="mb-2"
                      >Nom<span class="req">*</span></label
                    >
                    <input
                      type="text"
                      placeholder="Nom de l'Entreprise"
                      id="company_name"
                      name="company_name"
                      class="form-control"
                      [(ngModel)]="FormData.company_name"
                      #companyNameField="ngModel"
                      required
                      [class.is-invalid]="
                        companyNameField.invalid &&
                        (companyNameField.dirty || companyNameField.touched)
                      "
                    />
                    <div
                      *ngIf="
                        companyNameField.invalid &&
                        (companyNameField.dirty || companyNameField.touched)
                      "
                      class="text-danger"
                    >
                      <p *ngIf="companyNameField.errors['required']">
                        Le nom de l'entreprise est requis
                      </p>
                    </div>
                  </div>

                  <div class="mb-4 col-md-6">
                    <label for="" class="mb-2">Localisation</label>
                    <input
                      type="text"
                      placeholder="Localisation"
                      id="company_location"
                      name="company_location"
                      class="form-control"
                      [(ngModel)]="FormData.company_location"
                      #companylocationField="ngModel"
                      required
                      [class.is-invalid]="
                        companylocationField.invalid &&
                        (companylocationField.dirty ||
                          companylocationField.touched)
                      "
                    />
                    <div
                      *ngIf="
                        companylocationField.invalid &&
                        (companylocationField.dirty ||
                          companylocationField.touched)
                      "
                      class="text-danger"
                    >
                      <p *ngIf="companylocationField.errors['required']">
                        La localisation de l'entreprise est requise
                      </p>
                    </div>
                  </div>
                </div>

                <div class="mb-4">
                  <label for="" class="mb-2">Site Web</label>
                  <input
                    type="text"
                    placeholder="Site Web"
                    id="website"
                    name="website"
                    class="form-control"
                    [(ngModel)]="FormData.company_website"
                    #companywebsiteField="ngModel"
                    required
                    [class.is-invalid]="
                      companywebsiteField.invalid &&
                      (companywebsiteField.dirty || companywebsiteField.touched)
                    "
                  />
                  <div
                    *ngIf="
                      companywebsiteField.invalid &&
                      (companywebsiteField.dirty || companywebsiteField.touched)
                    "
                    class="text-danger"
                  >
                    <p *ngIf="companywebsiteField.errors['required']">
                      Le site Web de l'entreprise est requis
                    </p>
                  </div>
                </div>
              </div>
              <div class="card-footer p-4">
                <button
                  type="submit"
                  class="btn btn-outline-secondary"
                  [disabled]="!createForm.valid"
                >
                  Enregistrer le Stage
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
