<section class="section-5 bg-2">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item active">Paramètres du compte</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="card border-0 shadow mb-4 p-3">
          <div class="s-body text-center mt-3">
            <div class="d-flex w-100 justify-content-center align-item-center">
              <img
                src="assets/img/1.jpg"
                alt="avatar"
                class="rounded-circle img-fluid"
                style="
                  width: 100px;
                  height: 100px;
                  object-fit: cover;
                  object-position: center;
                "
              />
            </div>
            <h5 class="mt-3 pb-0"></h5>
            <p class="text-muted mb-1 fs-6"></p>
            <div class="d-flex justify-content-center mb-2">
              <button
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                type="button"
                class="btn btn-outline-secondary"
              >
                Changer la photo de profil
              </button>
            </div>
          </div>
        </div>
        <div class="card account-nav border-0 shadow mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between p-3">
                <a href="">Paramètres du compte</a>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <a href="">Mon stage</a>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <a href="">Stage appliqué</a>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <a href="">Stage sauvegardé</a>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <a (click)="Logout()" class="btn btn-outline-danger"
                  >Déconnexion</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="card border-0 shadow mb-4">
          <form
            action=""
            method="post"
            id="userForm"
            name="userForm"
            #forme="ngForm"
            (ngSubmit)="UpdateWritingProfile()"
            novalidate
          >
            <div class="card-body p-4">
              <h3 class="fs-4 mb-1">Mon Profil</h3>
              <div class="mb-4">
                <label for="name" class="mb-2">Nom*</label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  placeholder="Entrer le nom"
                  class="form-control"
                  [(ngModel)]="FormData.name"
                  [class.is-invalid]="
                    name.invalid && (name.dirty || name.touched)
                  "
                  #name="ngModel"
                  required
                />
                <div
                  *ngIf="name.invalid && (name.dirty || name.touched)"
                  class="text-danger"
                >
                  Le nom est requis.
                </div>
              </div>
              <div class="mb-4">
                <label for="email" class="mb-2">E-mail*</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="Entrer l'e-mail"
                  class="form-control"
                  [(ngModel)]="FormData.email"
                  #email="ngModel"
                  [class.is-invalid]="
                    email.invalid && (email.dirty || email.touched)
                  "
                  required
                  email
                />
                <div
                  *ngIf="email.invalid && (email.dirty || email.touched)"
                  class="text-danger"
                >
                  <div *ngIf="email.errors['required']">
                    L'e-mail est requis.
                  </div>
                  <div *ngIf="email.errors['email']">
                    Veuillez entrer une adresse e-mail valide.
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <label for="address" class="mb-2">Adresse*</label>
                <input
                  type="text"
                  name="address"
                  id="address"
                  placeholder="Adresse"
                  class="form-control"
                  [class.is-invalid]="
                    address.invalid && (address.dirty || address.touched)
                  "
                  [(ngModel)]="FormData.address"
                  #address="ngModel"
                  required
                  minlength="10"
                  maxlength="255"
                />
                <div
                  *ngIf="address.invalid && (address.dirty || address.touched)"
                  class="text-danger"
                >
                  <div *ngIf="address.errors['required']">
                    L'adresse est requise.
                  </div>
                  <div *ngIf="address.errors['minlength']">
                    L'adresse doit comporter au moins 10 caractères.
                  </div>
                  <div *ngIf="address.errors['maxlength']">
                    L'adresse ne peut pas dépasser 255 caractères.
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <label for="mobile" class="mb-2">Portable*</label>
                <input
                  type="tel"
                  name="mobile"
                  id="mobile"
                  placeholder="Portable"
                  class="form-control"
                  [class.is-invalid]="
                    mobile.invalid && (mobile.dirty || mobile.touched)
                  "
                  [(ngModel)]="FormData.phone"
                  #mobile="ngModel"
                  required
                  pattern="\\d{9}"
                />
                <div
                  *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)"
                  class="text-danger"
                >
                  <div *ngIf="mobile.errors['required']">
                    Le numéro de portable est requis.
                  </div>
                  <div *ngIf="mobile.errors['pattern']">
                    Le numéro de portable doit comporter exactement 9 chiffres.
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <label for="birthdate" class="mb-2">Date de naissance*</label>
                <input
                  type="date"
                  name="dob"
                  id="dob"
                  class="form-control"
                  [class.is-invalid]="
                    birthdate.invalid && (birthdate.dirty || birthdate.touched)
                  "
                  [(ngModel)]="FormData.dob"
                  #birthdate="ngModel"
                  required
                  [max]="maxDate"
                />
                <div
                  *ngIf="
                    birthdate.invalid && (birthdate.dirty || birthdate.touched)
                  "
                  class="text-danger"
                >
                  <div *ngIf="birthdate.errors['required']">
                    La date de naissance est requise.
                  </div>
                  <div *ngIf="birthdate.errors['max']">
                    La date de naissance doit être antérieure à aujourd'hui.
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <label class="mb-2">Genre*</label>
                <div class="row">
                  <div class="col-3">
                    <div class="form-check">
                      <input
                        type="radio"
                        name="gender"
                        id="male"
                        class="form-check-input"
                        value="male"
                        [(ngModel)]="FormData.gender"
                        #gender="ngModel"
                        required
                      />
                      <label for="male" class="form-check-label"
                        >Masculin</label
                      >
                    </div>
                    <div class="form-check">
                      <input
                        type="radio"
                        name="gender"
                        id="female"
                        class="form-check-input"
                        value="female"
                        [(ngModel)]="FormData.gender"
                      />
                      <label for="female" class="form-check-label"
                        >Féminin</label
                      >
                    </div>
                    <!-- Appliquer la classe is-invalid à la div ci-dessous si le genre est invalide -->
                    <div
                      [class.is-invalid]="
                        gender.invalid && (gender.dirty || gender.touched)
                      "
                      class="invalid-feedback"
                    >
                      Veuillez sélectionner un genre.
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <label for="bio" class="mb-2">Biographie*</label>
                <textarea
                  rows="5"
                  cols="5"
                  name="bio"
                  id="bio"
                  placeholder="Biographie"
                  class="form-control"
                  [class.is-invalid]="bio.invalid && (bio.dirty || bio.touched)"
                  [(ngModel)]="FormData.bio"
                  #bio="ngModel"
                  required
                  minlength="30"
                  maxlength="1000"
                ></textarea>
                <div
                  *ngIf="bio.invalid && (bio.dirty || bio.touched)"
                  class="text-danger"
                >
                  <div *ngIf="bio.errors['required']">
                    La biographie est requise.
                  </div>
                  <div *ngIf="bio.errors['minlength']">
                    La biographie doit comporter au moins 30 caractères.
                  </div>
                  <div *ngIf="bio.errors['maxlength']">
                    La biographie ne peut pas comporter plus de 1000 caractères.
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer p-4">
              <button
                type="submit"
                class="btn btn-outline-secondary"
                [disabled]="!forme.valid"
              >
                Mettre à jour
              </button>
            </div>
          </form>
        </div>
        <div class="card border-0 shadow mb-4">
          <form action="" (ngSubmit)="UpdatePassword()" method="post">
            <div class="card-body p-4">
              <h3 class="fs-4 mb-1">Modifier le mot de passe</h3>

              <div class="mb-4">
                <label for="current_password" class="mb-2"
                  >Ancien mot de passe*</label
                >
                <input
                  name="current_password"
                  id="current_password"
                  type="password"
                  placeholder="Ancien mot de passe"
                  class="form-control"
                  #current_password="ngModel"
                  [(ngModel)]="FormData.current_password"
                  [class.is-invalid]="
                    current_password.invalid &&
                    (current_password.dirty || current_password.touched)
                  "
                  required
                />
                <div
                  *ngIf="
                    current_password.invalid &&
                    (current_password.dirty || current_password.touched)
                  "
                  class="text-danger"
                >
                  <div *ngIf="current_password.errors['required']">
                    Le mot de passe courant est requis.
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <label for="new_password" class="mb-2"
                  >Nouveau mot de passe*</label
                >
                <input
                  name="new_password"
                  id="new_password"
                  type="password"
                  placeholder="Nouveau mot de passe"
                  class="form-control"
                  #new_password="ngModel"
                  [(ngModel)]="FormData.new_password"
                  [class.is-invalid]="
                    new_password.invalid &&
                    (new_password.dirty || new_password.touched)
                  "
                  required
                />
                <div
                  *ngIf="
                    new_password.invalid &&
                    (new_password.dirty || new_password.touched)
                  "
                  class="text-danger"
                >
                  <div *ngIf="new_password.errors['required']">
                    Le nouveau mot de passe est requis.
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer p-4">
              <button type="submit" class="btn btn-outline-secondary">
                Mettre à jour
              </button>
            </div>
          </form>
        </div>
        <div class="card border-0 shadow mb-4">
          <!-- <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <div class="card-body p-4">
              <h3 class="fs-4 mb-1">Téléchargement de documents</h3>
              <div class="mb-4">
                <label for="" class="mb-2">Lettre de motivation*</label>
                <input
                  type="file"
                  name="cover_letter"
                  placeholder="Télécharger une lettre de motivation"
                  class="form-control bg-white"
                  formControlName="cover_letter"
                  (change)="UploadCoverLetter($event)"
                  [ngClass]="{
                    'is-invalid': submitted && f['cover_letter'].errors
                  }"
                />
                <div
                  *ngIf="submitted && f['cover_letter'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['cover_letter'].errors['required']">
                    La lettre de motivation est requise.
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <label for="" class="mb-2">CV*</label>
                <input
                    type="file"
                    name="cv"
                    placeholder="Télécharger un CV"
                    class="form-control bg-white"
                    formControlName="cv"
                    (change)="UploadCV($event)"
                    [ngClass]="{'is-invalid': submitted && f.cv.errors}"
                />
                <div
                    *ngIf="submitted && f.cv.errors"
                    class="invalid-feedback"
                >
                    <div *ngIf="f.cv.errors.required">
                        Le CV est requis.
                    </div>
                </div>
            </div>
            </div>
            <div class="card-footer p-4">
              <button type="submit" class="btn btn-outline-secondary">
                Télécharger
              </button>
            </div>
          </form> -->

          <div class="card-body">
            <ngx-file-drop
              dropZoneLabel="Drop files here"
              (onFileDrop)="dropped($event)"
              (onFileOver)="fileOver($event)"
              (onFileLeave)="fileLeave($event)"
            >
              <ng-template
                ngx-file-drop-content-tmp
                let-openFileSelector="openFileSelector"
              >
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  (click)="openFileSelector()"
                >
                  Browse Files
                </button>
              </ng-template>
            </ngx-file-drop>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
