<div class="card">
  <div class="card-header text-secondary">Log In</div>
  <alert type="success" [dismissible]="true" *ngIf="showSuccessAlert">
    Connected Successfully
  </alert>
  <div class="card-body m-2">
    <form action="" class="w-100" (ngSubmit)="Login()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          [(ngModel)]="formData.email"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="exampleInputPassword1"
          [(ngModel)]="formData.password"
        />
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <div class="row">
        <div class="col-9">
          <div class="row">
            <div class="col-4">
              <button type="submit" class="btn btn-outline-secondary">
                Log In
              </button>
            </div>
            <div class="col-5">
              <small
                ><a href="" class="text-secondary" routerLink="profile"
                  ><small>Don't Have An Account</small></a
                ></small
              >
            </div>
          </div>
        </div>
        <div class="col-3 text-end">
          <form action="" (ngSubmit)="LoginWithGoogle()">
            <button
              type="submit"
              class="btn btn-outline-secondary btn-social"
              name="googl_id"
              [(ngModel)]="formData.google_id"
            >
              <i class="fab fa-google"></i>
            </button>
          </form>
        </div>
      </div>
    </form>
  </div>
</div>
