<div class="container my-5">
  <div class="text-secondary fs-3 text-center fw-bold mb-3">
    Formulaire d'Inscription
  </div>
  <div class="m-2">
    <form class="w-100" (ngSubmit)="Register()">
      <div class="mb-3">
        <label for="exampleInputText1" class="form-label"
          >Nom d'utilisateur</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleInputText1"
          aria-describedby="TextHelp"
          name="username"
          [(ngModel)]="formData.name"
          #username="ngModel"
          [class.is-invalid]="
            username.invalid && (username.dirty || username.touched)
          "
          required
        />
        <div
          *ngIf="username.invalid && (username.dirty || username.touched)"
          class="text-danger"
        >
          <div *ngIf="username.errors['required']">
            Le nom utilisateur est requis.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Adresse Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="email"
          [(ngModel)]="formData.email"
          [class.is-invalid]="email.invalid && (email.dirty || email.touched)"
          #email="ngModel"
          required
        />
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="text-danger"
        >
          <div *ngIf="email.errors['required']">
            L'adresse email est requis.
          </div>
        </div>
      </div>
      <div id="emailHelp" class="form-text">
        Nous ne partagerons jamais votre adresse email avec qui que ce soit.
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"
          >Mot de passe</label
        >
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          name="password"
          [(ngModel)]="formData.password"
          [class.is-invalid]="
            password.invalid && (password.dirty || password.touched)
          "
          #password="ngModel"
          required
          minlength="8"
        />
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="text-danger"
        >
          <div *ngIf="password.errors['required']">
            La mot de passe est requis.
          </div>
          <div *ngIf="password.errors['minlength']">
            Le mot de passe doit comporter au moins 8 caractères.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="type" class="form-label">Type d'Utilisateur</label>
        <select
          id="type"
          class="form-control bg-white"
          name="usertype"
          [(ngModel)]="formData.user_type"
        >
          <option value="user">Étudiant</option>
          <option value="company">Entreprise</option>
        </select>
      </div>
      <div class="col-7">
        <input
          type="submit"
          class="btn btn-outline-secondary"
          value="Inscription"
        />
      </div>
    </form>
  </div>
</div>
