<div class="container my-5">
  <div class="text-secondary fs-3 text-center fw-bold mb-3">
    Formulaire d'Inscription
  </div>
  <alert type="success" [dismissible]="true" *ngIf="showSuccessAlert">
    Inscription réussie!
  </alert>
  <div class="m-2">
    <form class="w-100" (ngSubmit)="Register()">
      <div class="mb-3">
        <label for="exampleInputText1" class="form-label"
          >Nom d'utilisateur</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleInputText1"
          aria-describedby="TextHelp"
          name="username"
          [(ngModel)]="formData.name"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Adresse Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="email"
          [(ngModel)]="formData.email"
        />
      </div>
      <div id="emailHelp" class="form-text">
        Nous ne partagerons jamais votre adresse email avec qui que ce soit.
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"
          >Mot de passe</label
        >
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          name="password"
          [(ngModel)]="formData.password"
        />
      </div>
      <div class="mb-3">
        <label for="type" class="form-label">Type d'Utilisateur</label>
        <select
          id="type"
          class="form-control bg-white"
          name="usertype"
          [(ngModel)]="formData.user_type"
        >
          <option value="user">Étudiant</option>
          <option value="company">Entreprise</option>
        </select>
      </div>
      <div class="col-7">
        <input
          type="submit"
          class="btn btn-outline-secondary"
          value="Inscription"
        />
      </div>
    </form>
  </div>
  <div class="row">
    <div class="row"></div>
  </div>
</div>
