<div class="container mt-5">
  <div class="row card bg-white">
    <div class="col-md-4"></div>
    <div class="col-md-6 p-3">
      <form [formGroup]="studentForm" (ngSubmit)="SubmitForm(studentModel)">
        <formly-form
          [model]="studentModel"
          [fields]="studentFields"
          [form]="studentForm"
        >
        </formly-form>
        <button
          [disabled]="studentForm.invalid"
          type="submit"
          mat-raised-button
          color="primary"
        >
          Register Now
        </button>
      </form>
    </div>
  </div>
</div>
<!-- <form
  class="create-form"
  [formGroup]="studentForm"
  novalidate
  (ngSubmit)="SubmitForm(studentModel)"
>
  <div class="form-group">
    <mat-form-field class="input-style">
      <input
        matInput
        placeholder="Name"
        class="form-control"
        formControlName="name"
      />
    </mat-form-field>
    <ng-container>
      <mat-error></mat-error>
    </ng-container>
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input
        matInput
        placeholder="Surname"
        class="form-control"
        formControlName="surname"
      />
    </mat-form-field>
    <ng-container>
      <mat-error></mat-error>
    </ng-container>
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input
        matInput
        type="number"
        min="0"
        max="100"
        placeholder="Age"
        class="form-control"
        formControlName="age"
      />
    </mat-form-field>
    <ng-container>
      <mat-error></mat-error>
    </ng-container>
  </div>

  <div class="row submit-button-container">
    <div class="col-md-4">
      <button
        mat-raised-button
        class="submit-button"
        color="primary"
        type="submit"
        [disabled]="studentForm.invalid"
      >
        Create
      </button>
    </div>
  </div>
</form> -->
