<!-- <div
  id="spinner"
  class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
>
  <div
    class="spinner-border text-secondary"
    style="width: 3rem; height: 3rem"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
</div> -->
<div
  id="carouselExampleCaptions"
  class="carousel slide dark:bg-gray-800 dark:border-gray-700"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container-fluid p-0">
        <div class="position-relative">
          <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="assets/img/1.jpg" alt="" />
            <div
              class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
              style="background: rgba(43, 57, 64, 0.5)"
            >
              <div class="container">
                <div class="row justify-content-start">
                  <div class="col-10 col-lg-8">
                    <h1 class="display-3 text-white animated slideInDown mb-4">
                      Trouvez le stage parfait que vous méritez
                    </h1>
                    <p class="fs-5 fw-medium text-white mb-4 pb-2">
                      Trouvez le stage idéal qui correspond à vos aspirations
                      professionnelles. Nous vous offrons une sélection variée
                      de stages dans différents domaines.
                    </p>
                    <a
                      routerLink="search"
                      class="btn btn-outline-secondary py-md-3 px-md-5 me-3 animated slideInLeft"
                      >Rechercher votre stage</a
                    >
                    <a
                      href=""
                      class="btn btn-light text-secondary py-md-3 px-md-5 animated slideInRight"
                      >Trouver un talent</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container-fluid p-0">
        <div class="position-relative">
          <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="assets/img/2.jpg" alt="" />
            <div
              class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
              style="background: rgba(43, 57, 64, 0.5)"
            >
              <div class="container">
                <div class="row justify-content-start">
                  <div class="col-10 col-lg-8">
                    <h1 class="display-3 text-white animated slideInDown mb-4">
                      Trouvez votre opportunité de stage idéale dès maintenant
                    </h1>
                    <p class="fs-5 fw-medium text-white mb-4 pb-2">
                      Explorez nos offres de stages et trouvez celui qui vous
                      correspond le mieux. Nous vous offrons des opportunités de
                      stage dans divers domaines pour vous permettre de
                      développer vos compétences.
                    </p>
                    <a
                      href=""
                      class="btn btn-secondary py-md-3 px-md-5 me-3 animated slideInLeft"
                      >Rechercher un stage</a
                    >
                    <a
                      href=""
                      class="btn btn-light text-secondary py-md-3 px-md-5 animated slideInRight"
                      >Trouver un talent</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container-fluid p-0">
        <div class="position-relative">
          <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="assets/img/3.jpg" alt="" />
            <div
              class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
              style="background: rgba(43, 57, 64, 0.5)"
            >
              <div class="container">
                <div class="row justify-content-start">
                  <div class="col-10 col-lg-8">
                    <h1 class="display-3 text-white animated slideInDown mb-4">
                      Découvrez des stages passionnants pour propulser votre
                      carrière
                    </h1>
                    <p class="fs-5 fw-medium text-white mb-4 pb-2">
                      Parcourez nos offres de stages et trouvez celui qui
                      correspond à vos intérêts et à vos objectifs de carrière.
                      Notre plateforme offre une multitude d'options pour vous
                      aider à trouver le stage parfait.
                    </p>
                    <a
                      routerLink="search"
                      class="btn btn-outline-secondary py-md-3 px-md-5 me-3 animated slideInLeft"
                      >Rechercher un stage</a
                    >
                    <a
                      href=""
                      class="btn btn-light text-secondary py-md-3 px-md-5 animated slideInRight"
                      >Trouver un talent</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  ></button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  ></button>
</div>

<div
  class="container-fluid mb-5 wow fadeIn dark:bg-slate-700 dark:border-gray-700"
  data-wow-delay="0.1s"
  style="padding: 35px"
>
  <div class="container">
    <h1
      class="text-center mb-5 wow fadeInUp dark:text-white"
      data-wow-delay="0.1s"
    >
      Explorer par Categories
    </h1>
    <div class="row g-4">
      <div
        class="row gap-3 text-center justify-content-center wow fadeInUp"
        data-wow-delay="0.1s"
        *ngFor="let category of Data"
      >
        <a
          class="cat-item rounded col-sm-3 p-4"
          href=""
          *ngFor="let j of length2"
        >
          <i class="fa fa-3x fa-mail-bulk text-secondary mb-4"></i>
          <h6 class="mb-3 dark:text-white">{{ category.data[j].name }}</h6>
          <p class="mb-0">123 Vacancy</p>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- explore by categories -->
<div class="container-xxl py-5 dark:bg-slate-700 dark:text-white">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="row g-0 about-bg rounded overflow-hidden">
          <div class="col-6 text-start">
            <img class="img-fluid w-100" src="assets/img/3.jpg" />
          </div>
          <div class="col-6 text-start">
            <img
              class="img-fluid text-start"
              src="assets/img/4.jpg"
              style="width: 85%; margin-top: 15%"
            />
          </div>
          <div class="col-6 text-end">
            <img
              class="img-fluid"
              src="assets/img/3.jpg"
              style="width: 85%; margin-bottom: 15%"
            />
          </div>
          <div class="col-6 text-end">
            <img class="img-fluid w-100" src="assets/img/6.jpg" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <h1 class="mb-4 dark:text-white">
          Nous vous aidons à trouver le meilleur stage et à découvrir des
          talents
        </h1>
        <p class="mb-4">
          Nous sommes là pour vous guider dans la recherche du stage parfait et
          pour vous connecter avec des talents exceptionnels.
        </p>
        <p>
          <i class="fa fa-check text-secondary me-3 dark:text-gray-500"></i>
          Compréhension de vos besoins
        </p>
        <p>
          <i class="fa fa-check text-secondary me-3"></i>
          Analyse et recherche par nos experts
        </p>
        <p>
          <i class="fa fa-check text-secondary me-3"></i>
          Suivi et évaluation lors de vos stages
        </p>
        <a class="btn btn-secondary py-3 px-5 mt-3" routerLink="about">
          En savoir plus
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container-xxl py-5 dark:bg-slate-700 dark:text-white">
  <div class="container">
    <h1
      class="text-center mb-5 wow fadeInUp dark:text-white"
      data-wow-delay="0.1s"
    >
      Liste des Stages
    </h1>
    <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
      <ul
        class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5"
      >
        <li class="nav-item">
          <a
            class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active"
            data-bs-toggle="pill"
            href="#tab-1"
          >
            <h6 class="mt-n1 mb-0 dark:text-white">En vedette</h6>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div
          id="tab-1"
          class="tab-pane fade show p-0 active"
          *ngFor="let intern of InternData"
        >
          <div class="internship-item p-4 mb-4" *ngFor="let i of length">
            <div class="row g-4">
              <div class="col-sm-12 col-md-8 d-flex align-items-center">
                <img
                  class="flex-shrink-0 img-fluid border rounded"
                  src="assets/img/com-logo-1.jpg"
                  alt=""
                  style="width: 80px; height: 80px"
                />
                <div class="text-start text-truncate text-wrap ps-4">
                  <h5 class="mb-3 dark:text-white">
                    {{ intern.data[i].title }}
                  </h5>
                  <span class="me-3"
                    ><i class="fa fa-map-marker-alt text-secondary me-2"></i
                    >{{ intern.data[i].address }}</span
                  >
                  <span class="text-truncate me-3"
                    ><i class="far fa-clock text-secondary me-2"></i>8h -
                    18h</span
                  >
                </div>
              </div>
              <div
                class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center"
              >
                <div class="d-flex mb-3">
                  <button
                    class="btn btn-light btn-square me-3"
                    (click)="AddToFavorite(intern.data[i].id)"
                  >
                    <i class="far fa-heart text-secondary"></i>
                  </button>
                  <form action="">
                    <button
                      type="submit"
                      class="btn btn-outline-secondary"
                      href=""
                      (click)="GetDetailOffer(intern.data[i].id)"
                    >
                      Postuler maintenant
                    </button>
                  </form>
                </div>
                <small class="text-truncate"
                  ><i class="far fa-calendar-alt text-secondary me-2"></i>Date
                  Limite:
                  {{ intern.data[i].last_date | date : "mediumDate" }}</small
                >
              </div>
            </div>
          </div>
        </div>
        <a class="btn btn-secondary py-3 px-5" routerLink="list"
          >Parcourir plus de stages</a
        >
      </div>
    </div>
  </div>
</div>

<div class="dark:bg-slate-700 dark:text-white">
  <button
    class="flex transition-transform hover:scale-125 align-middle"
    (click)="darkMode.set(!darkMode())"
  >
    <span *ngIf="!darkMode()" class="material-icons">dark_mode</span>
    <span *ngIf="darkMode()" class="material-icons">light_mode</span>
  </button>
</div>

<div
  class="container-fluid bg-dark text-white-50 dark:bg-slate-700 dark:text-white footer pt-5 mt-5 wow fadeIn"
  data-wow-delay="0.1s"
>
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <h5 class="text-white mb-4">Company</h5>
        <a class="btn btn-link text-white-50" href="" *ngFor="let a of link">{{
          a.link
        }}</a>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5 class="text-white mb-4">Quick Links</h5>
        <a class="btn btn-link text-white-50" href="" *ngFor="let a of link">{{
          a.link
        }}</a>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5 class="text-white mb-4">Contact</h5>
        <p class="mb-2">
          <i class="fa fa-map-marker-alt me-3"></i>Logbesou, Douala, Cameroun
        </p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+237 659 336 261</p>
        <p class="mb-2">
          <i class="fa fa-envelope me-3"></i>edwinfom05&#64;gmail.com
        </p>
        <div class="d-flex pt-2">
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-twitter"></i
          ></a>
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-youtube"></i
          ></a>
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-linkedin-in"></i
          ></a>
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5 class="text-white mb-4">Newsletter</h5>
        <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
        <div class="position-relative mx-auto" style="max-width: 400px">
          <input
            class="form-control bg-transparent w-100 py-3 ps-4 pe-5"
            type="text"
            placeholder="Your email"
          />
          <button
            type="button"
            class="btn btn-secondary py-2 position-absolute top-0 end-0 mt-2 me-2"
          >
            SignUp
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          &copy;
          <a class="border-bottom" href="https://internglobe.com">INTERNGLOBE</a
          >, All Right Reserved. Designed By
          <a class="border-bottom" href="https://internglobe.com">EdwinFom</a>
        </div>
        <div class="col-md-6 text-center text-md-end">
          <div class="footer-menu">
            <a href="">Home</a>
            <a href="">Cookies</a>
            <a href="">Help</a>
            <a href="">FQAs</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
